.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    a {
      padding: 8px;
      border: 1px solid #ddd;
      text-decoration: none;
      color: #333;

      &.active {
        background-color: #3498db;
        color: #fff;
        border: 1px solid #3498db;
      }
    }
  }
}

.maintasklist {
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* Set a suitable height */
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    /* Choose a color for the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .task-list {
    list-style: none;
    padding: 20px;
    margin: 0;

    .task-item {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      background-color: #ffffff;
      color: #333; // Set text color

      .headers {
        float: left;
        width: 60%;

        .title {
          h1 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 8px;
          }
        }

        .description {
          p {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
          }
        }
      }


      .buttons {
        display: flex;
        justify-content: flex-end; // Align buttons to the right
        margin-top: 15px;
        float: right;
        width: 40%;

        .updatebtn,
        .deletebtn {
          padding: 8px 15px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          margin-left: 10px; // Add spacing between buttons

          &.updatebtn {
            background-color: #3498db;
            color: #fff;
          }

          &.deletebtn {
            background-color: #e74c3c;
            color: #fff;
          }
        }
      }
    }
  }
}